@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.navbar-rectangle {
  background: linear-gradient(96.34deg, #e537b9 0%, #c040df 100%);
  border-radius: 4.5px;
  width: 27px;
  height: 9px;
  position: absolute;
  top: 10px;
  margin-left: 50px;
}
.h1 {
  font-weight: 600;
  font-size: 23px;
  height: 70px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  color: #292b2e;
  border-bottom: solid 2px rgba(128, 128, 128, 0.482);
}
.heading {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-weight: 600;
  font-size: 23px;
  color: #252b42;
}
.sub-heading {
  color: #858585;
  font-weight: 400;
  font-size: 18px;
  padding-left: 50px;
  margin: 5px 0;
}
.title {
  font-weight: 700;
  font-size: 24px;
  color: #292b2e;
}
.author {
  font-weight: 600;
  font-size: 14px;
  color: #586069;
  display: flex;
  align-items: center;
}
.author i {
  font-size: 5px;
  margin: 0 10px;
}
.description {
  font-weight: 500;
  font-size: 16px;
  color: #292b2e;
}

.carousel-item img {
  max-height: 500px;
  width: 100%;
  filter: brightness(0.7);
}
.carousel-item img:hover {
  filter: brightness(0.5);
}
.set {
  margin: 10px 50px;
}
