* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

.navbar {
  width: 100%;
  position: absolute;
  height: 91px;
  font-size: 24px;
}
hr {
  margin : 0 !important;
}
.rectangle {
  position: absolute;
  width: 30px;
  height: 9px;
  left: 85px;
  top: 20px;
  background: linear-gradient(96.34deg, #e537b9 0%, #c040df 100%);
  border-radius: 4.5px;
}

.navbar-brand {
  position: absolute;
  left: 85px;
  top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #292b2e;
}

.current {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #252b42;
}

.description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #858585;
}

.container {
  margin: 20px 80px !important;
}

#section-accordion {
  margin: 60px 80px;
  width: 70%;
}

p.period {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.period i {
  font-size: 5px;
}

.accordion-item {
  border: none !important;
}

.accordion-btn {
  width: 100%;
  border: none !important;
  outline: none !important;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #737373;
  cursor: pointer;
  background-color: transparent;
}

.accordion-btn:after {
  content: "\f106";
  vertical-align: middle;
  font-family: "fontawesome";
  font-size: 14px;
  float: left;
}

.accordion-btn.collapsed:after {
  content: "\f107";
  vertical-align: middle;
}

.category {
  margin-left: 10px;
  vertical-align: middle;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-bottom: 200px;
}

h5 {
  margin-top: 20px !important;
}

.content {
  font-style: italic !important;
}

@media only screen and (max-width: 500px) {
 
  .navbar {
    width: 100%;
  }

  .navbar-brand {
    position: absolute;
    left: 35px;
    top: 30px;
  }
  .rectangle {
    left: 35px;
  }

  .container {
    margin-left: 30px !important;
    font-size: 18px;
  }

  #section-accordion {
    margin-left: 30px;
    width: 85%;
  }

  .current {
    font-size: 20px;
  }

  .description {
    font-size: 15px;
  }

  h5.p-2 {
    font-size: 18px !important;
    padding: 0 !important;
    margin-top: 20px !important;
  }

  .details {
    margin: 0 !important;
  }
  .content {
    padding: 0 !important;
    margin: 0 !important;
  }

  p.period {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }

  .period i {
    font-size: 5px;
  }
}
